.App {
  text-align: center;
  height: 100%;
}

.banner {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

img {
  height: 200px;
  width: 1300px;
}

.footer {
  padding: 10px;
  padding-top: 300px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0px;
}

.main-body {
  padding: 20px;
}

.sub-body {
  margin-top: 20px;
  font-weight: bold;
}
